html,body{
	background:#fff;
	font-size: 100%;	
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans', sans-serif;
}
/*--header--*/
.head {
	background: #F05E6B;	
}
.logo{
	float:left;
}
.logo h1{
	font-size:2.2em;
	font-family: 'Montserrat', sans-serif;
}
.logo h1 a{
	text-decoration:none;
	color:#000;
	background: #fff;
    padding: 15px 19px;
	position:relative;
	    display: block;
}
.logo h1 a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 37px solid transparent;
    border-left: 37px solid #fff;
    border-bottom: 38px solid transparent;
    right: -37px;
    top: 0px;
}
.navbar-brand {
   height: auto; 
    padding: 0; 
    font-size: 18px; 
    line-height: 20px;
}
.fill {
    float: right;
	margin-top:0.7em;
}
.nav-top {
    float: left;
	width:65%;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.nav.navbar-nav li a {
    font-size: 1em;
    color: #FFFFFF;
    margin: 0 5px;
    padding: 15px 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background:none !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
ul.nav.navbar-nav li a.active {
       color: #000;
    background: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background:none;
}
/*----*/
/* NAVIGATION */

ul li a,
 ul li a:after,
 ul li a:before {
  transition: all .5s;
}
ul li a:hover {
  color: #555;
}
/* stroke */
.fill ul li a {
  position: relative;
}
.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.fill ul li a {
  transition: all 2s;
}
.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #02C7DA;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #02C7DA;
    border-radius: 100%;
  }
  100% {
    background: #02C7DA;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
/*----*/
.search-box {
	position: relative;
}
.sb-search {
	position: absolute;
	top:0px;
	right:0px;
	width: 0%;
	min-width: 75px;
	height: 75px;
	float: right;
	overflow: hidden;
/*-- w3layouts --*/ 
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#248892;
	width: 87%;
	height: 75px;
	margin: 0;
	z-index: 10;
	padding: 5px 10px;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width:75px;
	height:75px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #02C7DA url('../images/search.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
/*-- agileits --*/ 
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #FFF;
	background: #02C7DA url('../images/search.png') no-repeat 19px 20px;
	z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:34%;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
/*--banner--*/
.banner{
	background: url(../images/banner.jpg) no-repeat center;
    width: 100%;
    height: 700px;
    text-align: center;
    padding-top: 11.5em;
    background-size: cover;
}
.banner-text{
	position:relative;   
}
.banner-text h2{
	font-size: 3em;
    color: #fff;  
    display: block;
    line-height: 2em;
	font-weight:100;
}
.banner-text h2 span{  
    display: block;
	font-weight:bold;
	font-size: 1.8em;
}
.banner-text h6 {  
    font-size: 1.4em;
    color: #fff;  
    line-height: 1.4em;
	font-style:italic;
	font-family: 'Crimson Text', serif;
}
.banner-text b {
/*-- w3layouts --*/
    font-size: 10em;
    color: #fff;
    position: absolute;
    top: 7%;
    left: 0;
    font-weight: 100;
}
.banner-text b.right-a {
    right: 0;
	left:auto;
}
/*--- slider-css --*/
.slider{
	position:relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides_tabs{
	background: none !important;
	border: none;
	box-shadow: none;
	position: relative;
	top: -90px;
/*-- agileits --*/
	z-index: 999;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 6px;
	width: 78px;
	background:#fff;
	display: inline-block;
	border-radius:50px;
}
.callbacks_here a:after{
	background:#02C7DA;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
	padding:0 5px
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: -30%;
	z-index: 999;
	right: 38%;
}
/*--services--*/
.ser-top {
    margin-bottom: 6em;
	text-align:center;
}
.ser-top h3 {
    margin-bottom: 0.4em;
    font-size: 3em;
    font-weight: bold;
	color:#000;
}
.ser-top p{
	font-size: 0.9em;
    color: #999;
    line-height: 2em;
    margin: 1em auto;
	width:50%;

}
.ser-t {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    position: relative;
}
.ser-t b{	
	width: 100%;
    height: 2px;
    display: block;
    background: #D5D5D5;
    margin-bottom: 3px;
}
.ser-t b.line{
    margin: 0 auto;
    height: 5px;
    background: #F05E6B;
}
.service {
    padding: 6em 0 ;
}
.ser-head h5{
	font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.7em;
    color: #F05E6B;
    font-weight: 900;
	margin-bottom: 1em;
}
.ser-head p{
	font-size: 0.9em;
    color: #999;
    line-height: 2em;
    margin: 1em 0;
}
.ser-head ul li{
	display: block;
    font-size: 0.9em;
    color: #999;
    line-height: 2.3em;
    list-style: none;
}
.ser-head ul li i{
	color:#02C7DA;
    margin-right: 2%;
}
/*----*/
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #F05E6B;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {	
	speak: none;
	font-size: 30px;
	line-height: 71px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	box-shadow: 0 0 0 4px #02C7DA;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
}

.hi-icon-effect-7 .hi-icon:hover {
	color: #02C7DA;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 #02C7DA;
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow: 3px 3px 0 #02C7DA;
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*----*/

.ser-grid h3{
	font-size:1.5em;
	color:#000;
	margin: 1em 0 0.5em;
}
.ser-grid p{
	font-size:0.9em;
	color:#999;
	line-height:2em;
}
.ser-grid:nth-child(1){
    border-bottom:1px dashed #000;
}
.ser-grid:nth-child(2){
    border-left: 1px dashed #000;
    border-bottom:1px dashed #000;
}
.ser-grid:nth-child(4){
    border-left: 1px dashed #000;
}
.ser-grid {
    padding: 1.5em;
    text-align: center;
}
/*--//service--*/
/*----*/
.statistics {
    background:#000;
    padding: 6em 0;
    text-align: center;
}
.ser-top1 h3{
	color:#fff;
}
.numscroller {
    font-size: 2.5em;
    color: #fff;
}
.statistics-grid h5 {
    font-size: 1.1em;
    margin-top: 0.5em;
    color: #B5B4B4;
	    margin-bottom: 1em;
}
.statistics-text {
    width: 210px;
    height: 210px;
    border-radius: 100%;
    border-color: #ffffff;
    border-width: 2px;
    border-style: none;
    padding: 3em 0;
    margin: 0 auto;
    border: 6px solid #02C7DA;
}
.sar-t {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    position: relative;
}
.sar-t b {
    width: 100%;
    height: 2px;
    display: block;
    background: #D5D5D5;
    margin-bottom: 3px;
}
.sar-t b.line-1 {
    width: 28%;
    margin: 0 auto;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 34%;
    background: #F05E6B;
}
/*--contact--*/
/*--contact--*/
.your-top {
  border: 1px solid #ADADAD;
}
.your-top:nth-child(2) {
  margin: 2.5em 0;
}
.your-top i {
  width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
    border: 2px solid #F05E6B;
    color: #F05E6B;
    border-radius: 100px;
    line-height: 2em;
    text-align: center;
    margin: 1% 2% 0;
    font-size: 1em;
}

.your-top input[type="text"],.grid-contact-in textarea {
  background: none;
    width: 89%;
    outline: none;
    border: none;
    padding: 0.8em 0.8em;
    font-size: 1em;
    color: #999;
    float: left;
    border-left: 1px solid #ADADAD;  
}
.grid-contact-in textarea{
  border:1px solid #ADADAD;
 resize:none;
  margin-bottom:0.5em;
  width:100%;
   font-size: 1em;
    padding: 0.8em;
	    min-height: 171px;
}
.grid-contact-in input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
  background:  #02C7DA;
  padding: 0.7em 1em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  margin: 0 auto;
  -webkit-appearance: none;
  font-weight: 700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor:pointer;
}
.grid-contact-in input[type="submit"]:hover {
	background:#F05E6B;
}
.contact {
  background: #fff;
  padding: 6em 0;

}
/*----*/
.map iframe{
	width: 100%;
	min-height: 451px;
	border: 0;
}
.map{
	padding:0;
}
.address{
	background: #F05E6B;
    text-align: center;
    padding: 5em 0;
}
.contact-grid1 h4 {
    font-size: 1.5em;
    color: #FFF;
    margin: 0em 0 0.5em;
    font-weight: 600;
}
.contact-grid1:nth-child(2) {
    margin: 1em 0;
}
.contact-grid1 p {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
}
.contact-grid1 p  span{
    display:block;
}
.contact-grid1 p a:hover {
    color: #fff;
}
.contact-grid1 p a {
    color: #fff;
    text-decoration: none;
}
.contact-grid1 p a:hover{
    color: #02C7DA;
}
/*--//contact--*/
/*--gallery--*/

figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}

figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

figcaption h3 {
    font-weight: 600;
	font-size:1.7em;
    color: #F05E6B;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    line-height: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

figure:hover h3,figure:hover p {
    left: 0;
}

figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}

figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 6em 0;
}
.ga-top{
	margin-bottom:3em;
}
/*-- team --*/
.team {
    padding: 6em 0 ;
}
.btm-right {
    text-align: center;
	padding: 1em;
}
.captn h4 {
    font-size: 1.5em;
    color: #000;
    margin: 0.5em 0 0.3em;
}
.captn  p{
    font-size: 0.9em;
    color: #999;
	font-style:italic;
    margin: 0em 0 0.5em;
}
.captn2 li a{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    margin: 0 3px;
}
.captn2 a:hover {
    transform: rotateY(360deg);	
	border-radius:100px;
}
.captn2 li{
	display:inline-block;
}
.captn2 li a.icon1{
	background:url(../images/img-sprite.png) no-repeat -3px -1px;	
}
.captn2 li a.icon2{
	background:url(../images/img-sprite.png) no-repeat -80px 0px;	
}
.captn2 li a.icon3{
	background:url(../images/img-sprite.png) no-repeat -150px 0px;	
}
.captn2 li a.icon1:hover{
	background:url(../images/img-sprite.png) no-repeat -3px -48px;	
}
.captn2 li a.icon2:hover{
	background:url(../images/img-sprite.png) no-repeat -80px -48px;	
}
.captn2 li a.icon3:hover{
	background:url(../images/img-sprite.png) no-repeat -150px -48px;	
}
.btm-right:hover {
	background:#F05E6B;
	padding:1em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn  p{
    color: #000;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn2 li a.icon1{
	background:url(../images/img-sprite.png) no-repeat -3px -48px;	
}
.btm-right:hover .captn2 li a.icon2{
	background:url(../images/img-sprite.png) no-repeat -80px -48px;	
}
.btm-right:hover .captn2 li a.icon3{
	background:url(../images/img-sprite.png) no-repeat -150px -48px;	
}
.btm-right:hover .captn2 a {
    border-radius:100px;
}
/*-- //team --*/
.test {
    background: #eee;
    padding: 6em 0 0;
}
.test-grid p{
	font-size:1em;
	color:#999;
	line-height:2em;
	margin-bottom: 2em;
}
.test-grid h4{
	font-size: 1.5em;
    color: #000;
    line-height: 2em;
    font-weight: 600;
    margin: 0.7em 0 0.2em;
}
.test-grid span{
	font-size:0.9em;
	color:#999;
	font-style:italic;
}
.test-grid {
    margin-top: 6em;
}

/*-- footer --*/
.copy {
    background: #222;
    padding: 3em 0;
    text-align: center;
}
p.footer-grid {
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
}
p.footer-grid a {
    text-decoration: none;
    color:#F05E6B;
}
p.footer-grid a:hover {
    color: #fff;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 25px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url('../images/up.png') no-repeat 0px 0px;
}
@media(max-width:1440px){
.nav-top {
    width: 75%;
}
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.nav-top {
    width: 80%;
}
}
@media(max-width:1080px){
.nav-top {
    width: 92%;
}
ul.nav.navbar-nav li a {
    padding: 10px 10px;
}
.fill {
    margin-top: 1.05em;
}
.test-grid {
    margin-top: 1em;
}
.your-top input[type="text"] {
    width: 87%;
}
figcaption h3 {
    margin-top: 18px;
}
@media(max-width:991px){
.logo h1 {
    font-size: 1.6em;
}
.logo h1 a:before {
    border-top: 30px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 30px solid transparent;
    right: -30px;
    top: 0px;
}
.logo h1 a {
    padding: 15px 12px;
}
ul.nav.navbar-nav li a {
    padding: 7px 7px;
    margin: 0 1px;
	font-size:0.9em;
}
.sb-icon-search, .sb-search-submit {
    width: 55px;
    height: 61px;
}
.sb-icon-search {
    background: #02C7DA url('../images/search.png') no-repeat 14px 14px;
}
.sb-search-input {
    height: 61px;
}
.sb-search {
    min-width: 55px;
    height:61px;
}
.banner-text h2 span {
    font-size: 1.2em;
}
.banner-text b {
    font-size: 8em;
}
ul.callbacks_tabs.callbacks1_tabs {
    right: 31%;
}
.banner {
    width: 100%;
    height: 500px;
    padding-top: 5.5em;
}
.ser-top p {
    width: 80%;
}
.service {
    padding: 4em 0;
}
.ser-top {
    margin-bottom: 3em;
}
.ser-grid:nth-child(2),.ser-grid:nth-child(4),.ser-grid:nth-child(1) {
    border:none;
}
.statistics {
    padding: 4em 0;
}
.statistics-grid {
    width: 50%;
    float: left;
}
.statistics-grid:nth-child(1),.statistics-grid:nth-child(2) {
    margin-bottom:1.5em;
}
.test-wrapper {
    text-align: center;
    width: 100%;
}
.test-wrapper img{
     margin: 0 auto;
}
.gallery {
    padding: 4em 0;
}
.test {
    padding: 4em 0;
}
.team {
    padding: 4em 0;
}
.bottom-grid {
    width: 50%;
    float: left;
}
.bottom-grid img{
    margin:0 auto;
}
.address {
    padding: 3em 0;
}
.map iframe {
    min-height: 300px;
}
.contact {
    padding: 4em 0;
}
.grid-contact-in {
    margin-top: 1em;
}
.your-top:nth-child(2) {
    margin: 1em 0;
}
figcaption h3 {
    margin-top: 13px;
    font-size: 1.4em;
}
figcaption p {
    padding: 0px 20px;
    font-size: 0.8em;
}
}
@media(max-width:768px){
figcaption h3 {
    margin-top: 58px;
}
}
@media(max-width:767px){
div#bs-example-navbar-collapse-1 {
    text-align: center;
}
.fill {
    float: none;
    margin-top: 0em;
    width: 100%;
}
.nav > li {
    display: block;
}
div#bs-example-navbar-collapse-1 {
    background: #F05E6B;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
	overflow: hidden;
}
ul.nav.navbar-right {
    text-align: center;
}
.navbar-toggle .icon-bar {
    background: #000;
}
.navbar-toggle {
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color:#fff;
}
.navbar-nav > li > a {
    width: 25%;
    text-align: center;
    margin: 5px auto;
}
.nav-top {
    width: 90%;
	text-align:center;
}
ul.nav.navbar-nav li a {
    width: 100%;
}
.navbar-nav {
    margin: 1.5em 0;
}
.banner-text h2 {
    font-size: 2.5em;
    line-height: 1.7em;
}
.banner {
    height: 400px;
}
.ser-top h3 ,.ser-top h3{
    font-size: 2.5em;
}
.ser-top p {
    width: 90%;
}
.service {
    padding: 3em 0;
}
.statistics {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
.test {
    padding: 3em 0;
}
.team {
    padding: 3em 0;
}
.contact {
    padding: 3em 0;
}
figcaption h3 {
    margin-top: 33px;
}
}
@media(max-width:600px){
.banner-text h2 {
    font-size: 2.2em;
    line-height: 1.6em;
}
.banner {
    height: 350px;
}
.ser-top h3 {
    font-size: 2.2em;
}
.ser-top p {
    width: 100%;
}
.service {
    padding: 2em 0;
}
.statistics {
    padding: 2em 0;
}
.gallery {
    padding: 2em 0;
}
.test {
    padding: 2em 0;
}
.team {
    padding: 2em 0;
}
.contact {
    padding: 2em 0;
}
.nav-top {
    width: 84%;
}
.banner-text b {
    font-size: 5em;
}
.banner-text h6 {
    font-size: 1.1em;
}
.callbacks_tabs a:after {
    width: 53px;
}
ul.callbacks_tabs.callbacks1_tabs {
    right: 26%;
}
.banner-text h2 span {
    font-size: 1.05em;
}
.statistics-text {
    width: 195px;
    height: 195px;
    padding: 2em 0;
}
figcaption p {
    padding: 0px 16px;
    font-size: 0.8em;
    line-height: 1.5em;
}
figcaption h3 {
    margin-top: 0px;
}
}
@media(max-width:414px){
.logo h1 {
    font-size: 1.2em;
}
.logo h1 a {
    padding: 13px 8px;
}
.logo h1 a:before {
    border-top: 25px solid transparent;
    border-left: 24px solid #fff;
    border-bottom: 25px solid transparent;
    right: -24px;
}
.sb-icon-search, .sb-search-submit {
    width: 50px;
    height: 50px;
}
.sb-search {
    min-width: 50px;
    height: 50px;
}
.sb-icon-search {
    background: #02C7DA url('../images/search.png') no-repeat 14px 14px;
    background-size: 22px;
}
.sb-search-input {
    height: 50px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 71%;
}
.sb-search-input {
    width: 83%;
}
.banner-text h2 {
    font-size: 1.4em;
    line-height: 1.5em;
}
.banner-text h6 {
    font-size: 0.9em;
}
.banner-text b {
    font-size: 4em;
}
.banner-text b {
    top: -3%;
}
.callbacks_tabs a:after {
    width: 40px;
}
.callbacks_tabs li {
    padding: 0 0px;
}
ul.callbacks_tabs.callbacks1_tabs {
    right: 27%;
    bottom: -45%;
}
.banner-text h6 {
    font-size: 0.875em;
}
.banner {
    height: 240px;
	padding-top: 4em;
}
.ser-top h3 {
    font-size: 1.7em;
}
.ser-top p {
    font-size: 0.8em;
}
.service {
    padding: 1.5em 0;
}
.statistics {
    padding: 1.5em 0;
}
.gallery {
    padding: 1.5em 0;
}
.test {
    padding: 1.5em 0 2em;
}
.team {
    padding: 1.5em 0;
}
.contact {
    padding: 2em 0;
}
.ser-head {
    padding: 0;
}
.ser-head1 {
    padding: 0;
}
.ser-head h5 {
    font-size: 0.9em;
}
.ser-head p {
    font-size: 0.8em;
}
.ser-head ul li {
    font-size: 0.8em;
}
.ser-grid {
    padding: 0;
	margin-top: 1em;
}
.ser-grid h3 {
    font-size: 1.3em;
}
.ser-grid p {
    font-size: 0.8em;
}
.ser-t {
    width: 45%;
}
.statistics-grid {
    width: 100%;
}
.statistics-text {
    width: 185px;
    height: 185px;
	padding: 2.2em 0;
}
.numscroller {
    font-size: 2em;
}
.statistics-grid:nth-child(1), .statistics-grid:nth-child(2),.statistics-grid:nth-child(3)  {
    margin-bottom: 1em;
}
.test-grid1 {
    padding: 0;
}
.test-grid p {
    font-size: 0.9em;
    margin-bottom: 1em;
}
.test-grid h4 {
    margin: 0.2em 0 0em;
}
.bottom-grid {
    width: 100%;
    float: left;
    padding: 0;
}
.map iframe {
    min-height: 200px;
}
.address {
    padding: 1.5em 0;
}
.contact-grid1 h4 {
    font-size: 1.2em;
}
.contact-grid1 p {
    font-size: 0.9em;
}
.grid-contact {
    padding: 0;
}
.grid-contact-in {
    padding: 0;
}
.ser-top {
    margin-bottom: 1.5em;
}
.your-top input[type="text"], .grid-contact-in textarea {
    width: 83%;
    padding: 0.6em 0.6em;
    font-size: 0.9em;
}
 .grid-contact-in textarea {
    width: 100%;
}
.your-top i {
    width: 30px;
    height: 30px;
    margin: 1.5% 2% 0;
    font-size: 0.8em;
}
.grid-contact-in input[type="submit"] {
    font-size: 0.9em;
}
p.footer-grid {
    font-size: 0.9em;
}
.copy {
    padding: 2em 0;
}
.navbar-toggle {
    margin-top: 8px;
}
figcaption h3 {
    margin-top: 28px;
}
.navbar-toggle {
    padding: 6px 6px;
}
.navbar-toggle {
    margin-top: 12px;
    margin-right: 10px;
}
}