.icon-cloud {
	background: transparent url(../img/icons/i-cloud.png) no-repeat center left;
}

.icon-chart {
	background: transparent url(../img/icons/i-chart.png) no-repeat center left;
}

.icon-facebook {
	background: transparent url(../img/icons/i-facebook.png) no-repeat center left;
}

.icon-gear {
	background: transparent url(../img/icons/i-gear.png) no-repeat center left;
}

.icon-globe {
	background: transparent url(../img/icons/i-globe.png) no-repeat center left;
}

.icon-google {
	background: transparent url(../img/icons/i-google.png) no-repeat center left;
}

.icon-mail {
	background: transparent url(../img/icons/i-mail.png) no-repeat center left;
}

.icon-rss {
	background: transparent url(../img/icons/i-rss.png) no-repeat center left;
}

.icon-search {
	background: transparent url(../img/icons/i-search.png) no-repeat center left;
}

.icon-star {
	background: transparent url(../img/icons/i-star.png) no-repeat center left;
}

.icon-stats {
	background: transparent url(../img/icons/i-stats.png) no-repeat center left;
}

.icon-twitter {
	background: transparent url(../img/icons/i-twitter.png) no-repeat center left;
}

.icon-wordpress {
	background: transparent url(../img/icons/i-wordpress.png) no-repeat center left;
}

.icon-yes {
	background: transparent url(../img/icons/i-yes.png) no-repeat center left;
}

.icon-no {
	background: transparent url(../img/icons/i-no.png) no-repeat center left;
}