
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #fcd2ff;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;

$gradient-color-1: #fcd2ff;        
$gradient-color-2: #f6d0c7;
