/*================================================
					Color
==================================================*/

.service-info-tabs .service-tab .tab-btns .tab-btn.active-btn,
.main-footer .about-widget .social-links li a:hover,
.sidebar .list li a:hover,
.sidebar .archive-list li a:hover,
.sidebar .archive-list li a .pull-right,
.sidebar .search-box .form-group input:focus + button,
.sidebar .search-box .form-group button:hover,
.product-block .inner-box .lower-box .content h3 a:hover,
.page-title .bread-crumb-outer .bread-crumb li.active,
.page-title .bread-crumb-outer .bread-crumb li a:hover,
.service-block-three:hover .inner-box:before,
.service-block-three:hover .icon-box,
.service-block-three:hover h3 a,
.service-block-one h3 a:hover,
.product-block .inner-box .lower-box .content .price,
.service-block-one .inner-box .upper-content .icon,
.services-block-two .inner-box .image .overlay-box .over-content h4 a:hover,
.services-block-two .inner-box .image .overlay-box .over-content .link-box a,
.testimonials .slide-item .upper-content .rating,
.products-carousel .owl-next:hover, .products-carousel .owl-prev:hover,
.team-block .image-box .social-links li a:hover,
.news-block .inner-box:hover .caption-box h3 a,
.services-block-three .inner-box .title,
.services-block-three .inner-box .icon-box,
.price-block .inner-box:hover .buy-btn,
.testimonial-block .inner-box .author,
.accordion-box .block .icon-outer,
.service-block-five .icon-box,
.service-block-five h4 a:hover,
.service-block-five .link-box a,
.call-to-action-section h2 span,
.news-block-six .inner-box:hover .caption-box h3 a,
.default-portfolio-item .overlay-inner a:hover,
.default-portfolio-item .overlay-inner .category,
.our-projects .filters ul li:hover, 
.our-projects .filters ul li.active,
.error-section h1 span.colored,
.contact-section h2,
.shipping-block .inner-box h4,
.cart-section .totals-table .total .price,
.cart-table tbody tr .remove-btn:hover,
.order-box ul li span,
.checkout-page .default-links li a,
.checkout-page .default-links li .fa,
.shop-comment-form .rating-box .rating a:hover,
.product-details .basic-details .details-header .item-price,
.product-details .basic-details .details-header .rating,
.sidebar .related-posts .post .rating .fa,
.sidebar .related-posts .post .price,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.shop-item .inner-box .lower-content .rating .fa,
.shop-item .inner-box .lower-content .price,
.shop-item .inner-box .lower-content h3 a:hover,
.main-footer .posts-widget .post .info,
.main-footer .contact-info li .icon,
.main-footer .contact-info li span,
.sidebar .download-list li a:hover,
.sidebar .downloads h4,
.sidebar .popular-posts .text a:hover,
.sidebar .search-box .form-group button,
.accordion-box.style3 .block .acc-btn,
.accordion-box.style2 .block.active-block .acc-btn .icon-outer span:before,
.accordion-box .block .acc-btn.active .icon-outer .icon,
.accordion-box .block .acc-btn.active,
.about-experts .expert-block:hover .content-box h3 a,
.about-experts .expert-block .image-box .overlay a:hover,
.comments-area.style-two .comment .rating span,
.comments-area .comment .date,
.sidebar-page-container .group-title span,
.news-block.full-width.single .content-box h3,
.news-block.full-width .content-box a:hover,
.news-block.style2 .image-box .overlay a:hover,
.news-block:hover .content-box h3 a,
.team-block .social-icon ul li:hover a,
.styled-pagination ul > li.active a,
.styled-pagination ul > li:hover a,
.subscribe-section h2,
.slide-item .inner-box .content-box .info,
.project-single-section .content-column a,
.creative-project-carousel .owl-prev, 
.creative-project-carousel .owl-next,
.services-slider-three .owl-prev:hover, 
.services-slider-three .owl-next:hover,
.services-block-four .lower-box:hover h3 a,
.services-block-four .image .overlay a:hover,
.services-block-two .inner-box .lower-box .read-more,
.services-block-two .inner-box .lower-box h3 a:hover,
.services-block .inner-box h3 a:hover,
.services-block .inner-box:hover .icon-box,
.header-style-three .info-box li strong,
.main-menu .navigation > li > ul > li  > ul > li:hover > a,
.main-menu .navigation > li > ul > li.dropdown:hover > a:after,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.header-top .social-icon li a:hover,
.main-header .header-top .top-left .links li a:hover,
.list-style-one li:before,
.btn-style-three:hover,
.btn-style-one:hover,
.theme_color,
a,
.main-footer .posts-widget .post .text a:hover{ 
	color :#FF851B;
}

/*================================================
				Background	Color
==================================================*/

.error-section .theme-btn.dark:hover,
.service-block-three:hover .inner-box:before,	
.sidebar .service-list li a:hover,
.sidebar .service-list li.current a,
.btn-style-three,
.btn-style-two:hover,
.btn-style-one,
.contact-detail,
.scroll-to-top:hover,
.sec-title .separator::before,
.cart-section .totals-table .proceed-btn,
.cart-section .coupon-btn,
.product-block .inner-box .image .options li:last-child a,
.sidebar .download-list li a,
.cart-section .cart-options .cart-btn,
.header-style-three .info-box .theme-btn:hover,
.payment-box .payment-options li .radio-option label .small-text,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.other-options .cart-option a:hover,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.shop-item .inner-box .lower-content .add-to-cart-btn:hover a,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.sidebar .popular-tags.style-two a,
.sidebar .popular-tags a:hover,
.fun-facts-section .count-outer:after,
.pricing-table:hover .table-header .title,
.pricing-table:hover .table-header .title:after,
.pricing-table:hover .table-footer a.theme-btn,
.comments-area .comment .author-thumb .reply,
.post-author .contant-box .social-icon li:hover a,
.post-tags .post-tags-list li:hover,
.news-block.full-width.single .content-box blockquote p:before,
.styled-pagination .view-more,
.styled-pagination ul > li a:after,
.subscribe-form .form-group input[type="submit"],
.subscribe-form button,
.testimonials.style2 .owl-dots .owl-dot:hover,
.testimonials.style2 .owl-dots .owl-dot.active,
.testimonial-slider .owl-prev:hover, 
.testimonial-slider .owl-next:hover,
.creative-project-carousel .owl-prev:hover, 
.creative-project-carousel .owl-next:hover,
.services-slider-three .owl-prev, 
.services-slider-three .owl-next,
.blocks-column.style2 .services-block:nth-child(2) .inner-box:before,
.blocks-column.style2 .services-block:nth-child(5) .inner-box:before,
.welcome-section .blocks-column:before,
.header-style-three .header-lower,
.header-style-two .sticky-header .main-menu .navigation > li:hover a,
.main-menu .navigation > li > ul > li > ul,
.main-menu .navigation > li:hover > a:before,
.main-menu .navigation > li.current > a:before,
.main-menu .navigation > li > ul,
.team-block .inner-box:hover .image-box .name,
.news-block .image-box .overlay-box,
.price-block .inner-box .buy-btn,
.price-block .inner-box:hover .price,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus
.sidebar .download-list li a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-menu .navbar-header .navbar-toggle{
	background-color :#FF851B;
}

.creative-project-carousel .default-portfolio-item .overlay-box,
.shop-item .inner-box .image .overlay-box{background-color: rgba(255,133,27,0.75);}
/*================================================
				Borer Color
==================================================*/
.error-section .theme-btn.dark:hover,
.sidebar .service-list li a:hover,
.sidebar .service-list li.current a,
.btn-style-three,
.btn-style-two:hover,
.btn-style-one,
.btn-style-three:hover,
.sidebar .download-list li a,
.price-block .inner-box:hover .buy-btn,
.services-block-two .inner-box .image .overlay-box .over-content .link-box a,
.default-portfolio-item .overlay-inner a:hover,
.btn-style-one:hover,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.cart-section .cart-options .cart-btn,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.shop-comment-form input:focus,
.shop-comment-form select:focus,
.shop-comment-form textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shop-item .inner-box .lower-content .add-to-cart-btn:hover a,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.main-footer .contact-form-widget input:focus,
.main-footer .contact-form-widget textarea:focus,
.main-footer .newsletter-widget input:focus,
.main-footer .newsletter-widget select:focus,
.service-info-tabs .service-tab .tab-btns .tab-btn.active-btn,
.sidebar .download-list li a:hover,
.sidebar .popular-tags.style-two a,
.sidebar .popular-tags a:hover,
.sidebar .search-box .form-group input:focus,
.pricing-table:hover .table-footer a.theme-btn,
.accordion-box.style2 .block.active-block .acc-btn .icon-outer span:before,
.post-author .contant-box .social-icon li a,
.testimonial-slider .owl-prev:hover, 
.testimonial-slider .owl-next:hover,
.creative-project-carousel .owl-prev:hover, 
.creative-project-carousel .owl-next:hover,
.services-slider-three .owl-prev:hover, 
.services-slider-three .owl-next:hover,
.header-style-three .info-box .theme-btn:hover,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-header .search-box-outer .dropdown-menu,
.faq-search-box .form-group input:focus,
.faq-search-box .form-group input[type="text"]:focus,
.faq-search-box .form-group input[type="search"]:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus{
	border-color: #FF851B;
}



.main-footer .widgets-section,
.service-info-tabs .service-tab .tab-btns .tab-btn.active-btn{
	border-top-color: #FF851B;
}

.payment-box .payment-options li .radio-option label .small-text:before,
.main-footer .footer-widget h2:before{
	border-bottom-color: #FF851B;
}