#style-switcher h2 {
    background-color: #abbd38;
}
#style-switcher h2 a {
    background-color: #abbd38;
}
#reset button {
    background-color: #abbd38;
}
.error_page h3 {
    color: #abbd38;
}
.error_page form input:focus {
    border-color: #abbd38;
}
.hm_news_data h3 a:hover {
    color: #abbd38;
}
.hm_login_form h1, .hm_signup_form h1 {
    background-color: #abbd38;
}
.register_info a:hover, .register_info a:focus {
    color: #abbd38;
}
.register_info a {
    color: #abbd38;
}
ul.hm_pagination li a:hover {
    border-color: #abbd38;
}
.hm_news_data ul li a:hover {
    color: #abbd38;
}
.hm_footer_box ul li a:hover {
    color: #abbd38;
}
.creative{
	color: #abbd38 !important;
}
.hm_top_usd p a i.fa {
    color: #abbd38;
}
.hm_top_usd p a:hover {
    color: #abbd38;
}
.hm_menu > ul > li > ul.sub-menu > li > a {
    border-bottom: 1px dotted #abbd38;
}
.cart_icon a:hover, .cart_icon a:focus {
    color: #abbd38;
}
.cart_icon a {
    border: 1px solid #abbd38;
}
a.news_btn:hover {
    color: #abbd38;
}
.hm_top_login ul li a i.fa {
    color: #abbd38;
}
.hm_top_wishlist p a i.fa {
    color: #abbd38;
}
.hm_top_login ul li a:hover {
    color: #abbd38;
}
.hm_top_wishlist p a:hover {
    color: #abbd38;
}
.hm_menu_wrapper {
    background-color: #abbd38;
}
.hm_menu > ul > li > a:hover {
    color: #abbd38;
}
.hm_menu > ul > li > ul.sub-menu li > a:hover {
    color: #abbd38;
}
.hm_menu > ul > li > ul.sub-menu li:last-child a {
    border-bottom: 2px solid #abbd38;
}
.menu_btn span {
    background-color: #abbd38;
}
span.search_icon {
    background-color: #abbd38;
}
span.search_icon:hover {
    border-color: #abbd38;
}
span.search_icon:hover i {
    color: #abbd38;
}
ul.usd_dropmenu {
    background-color: #abbd38;
}
.hm_btn:before, .cart_icon a:before {
    background-color: #abbd38;
}
.hm_btn:hover, .hm_btn:focus {
    color: #abbd38;
}
.hm_btn {
    border: 1px solid #abbd38;
}
.hm_color {
    color: #abbd38;
}
.new_pro_box:hover h3 a {
    color: #abbd38;
    text-decoration: none;
}
.pro_price {
    color: #abbd38;
}
.hm_choose_list .panel-default > .panel-heading {
    background-color: #abbd38;
}
.hm_artist_box {
    background-color: #abbd38;
}
.hm_testi_box h2 {
    color: #abbd38;
}
.hm_news_data ul li a i {
    color: #abbd38;
}
a.news_btn {
    color: #abbd38;
}
.overlay_buttons .fa {
    background-color: #abbd38;
}
.hm_partners_wrapper {
    background-color: #abbd38;
}
.hm_footer_box h3.footer_heading {
    color: #abbd38;
}
.hm_bottom_footer {
    background-color: #abbd38;
}
.footer_icon i {
    color: #abbd38;
}
.home_style2 .hm_header_wrapper {
    border-bottom: 2px solid #abbd38;
}
.hm_menu > ul > li.active a {
    color: #abbd38;
}
.hm_bread_wrapper h1 {
    color: #abbd38;
}
.hm_bread_wrapper h1:before {
    background-color: #abbd38;
}
.hm_bread_wrapper h1:after {
    background-color: #abbd38;
}
.hm_bread_wrapper .breadcrumb > li a {
    color: #abbd38;
}
.service_icon {
    border: 1px solid #abbd38;
}
.service_icon i.flaticon {
    color: #abbd38;
}
.hm_service_box:hover .service_icon:after {
    opacity: 1;
    box-shadow: 3px 3px 0 rgba(171, 189, 56, 0.9);
}
.service_icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: 0 0 0 rgba(252, 90, 109, 0.89);
    -webkit-transition: opacity 0.2s, box-shadow 0.2s;
    -moz-transition: opacity 0.2s, box-shadow 0.2s;
    transition: opacity 0.2s, box-shadow 0.2s;
}
.filter_list ul li a {
    border: 1px solid #abbd38;
}
.hm_post_share .tags a:hover {
    color: #abbd38;
}
.comment-form .form-group input[type="text"]:focus, .comment-form .form-group input[type="password"]:focus, .comment-form .form-group input[type="tel"]:focus, .comment-form .form-group input[type="email"]:focus, .comment-form .form-group select:focus, .comment-form .form-group textarea:focus {
    border-color: #abbd38;
}
.sidebar-widget.sidebar_tags li a:hover {
    color: #abbd38;
}
.form-group input[type="text"]:focus, .form-group input[type="password"]:focus, .form-group input[type="tel"]:focus, .form-group input[type="email"]:focus, .form-group input[type="search"]:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: #abbd38 !important;
}
.sidebar .popular-posts .post a, .sidebar .popular-posts .post a:hover {
    color: #abbd38;
}
.side_filter .ui-widget.ui-widget-content {
    border: 1px solid #abbd38;
}
.side_filter .ui-widget-header {
    background: rgba(171, 189, 56, 0.54);
}
.filter_list ul li a:before {
    background-color: #abbd38;
}
.filter_list ul li a.active {
    color: #abbd38;
}
.filter_list ul li a:hover {
    color: #abbd38;
}
.overlay_buttons .fa {
    background-color: #abbd38;
}
ul.hm_pagination li a.active {
    background-color: #abbd38;
    border-color: #abbd38;
}
ul.hm_pagination li a:before {
    background-color: #abbd38;
}
.hm_post_share .tags a {
    border: 1px solid #abbd38;
}
.hm_post_share .tags a:before {
    background-color: #abbd38;
}
.hm_news_data ul li a i {
    color: #abbd38;
}
.comments-area .comment-info .comment-time {
    color: #abbd38;
}
.comments-area .comment .comment-reply:hover {
    color: #abbd38;
}
.hm_btn:hover, .hm_btn:focus {
    color: #abbd38;
}
.sidebar-title h2:after {
    background-color: #abbd38;
}
.sidebar .popular-posts .post-info {
    color: #abbd38;
}
span.cat_no {
    color: #abbd38;
}
.sidebar-widget.widget_categories a:hover {
    color: #abbd38;
}
.sidebar-widget.sidebar_tags li a {
    border: 1px solid #abbd38;
}
.sidebar-widget.sidebar_tags li a:before {
    background-color: #abbd38;
}
.hm_pro_data {
    background-color: #abbd38;
}
.pro_price {
    color: #abbd38;
}
a.pro_buy {
    color: #abbd38;
}

.item-categories a {
    color: #abbd38;
}
.hm_pro_tab .nav-tabs > li.active > a, .hm_pro_tab .nav-tabs > li.active > a:hover, .hm_pro_tab .nav-tabs > li.active > a:focus {
    color: #abbd38;
}
.side_filter .ui-state-default, .side_filter .ui-widget-content .ui-state-default, .side_filter .ui-widget-header .ui-state-default, .side_filter .ui-button, .side_filter .ui-button.ui-state-disabled:hover, .side_filter .ui-button.ui-state-disabled:active {
    border: 1px solid #abbd38;
    background: #abbd38;
}

.range_value #amount {
    color: #abbd38;
}
.contact_box {
    border: 2px solid #abbd38;
}
.contact_box:before {
    background: #abbd38;
}
.contact_box i.fa {
    color: #abbd38;
}
.hm_form .hm_btn:hover {
    color: #abbd38;
}
.hm_form .hm_btn:focus{
	color:#ffffff;
}
.contact_form_wrapper {
    background-color: #abbd38;
}