@charset "utf-8";
/* CSS Document */
html,body {-webkit-text-size-adjust:none; font-family:'微软雅黑';font-size: 14px; margin: 0 auto; padding: 0; color:#333;background-image:url(about:blank); background-attachment:fixed}
ul, li, { display: block; margin:0 auto; }
ul ,ol{list-style-type:none; padding:0;}
fieldset, img { border: 0; }
h1,h2,h3,h4,h5,h6,{margin:0;padding:0;}
.clear { clear:both; }
a:active {star:expression(this.onFocus=this.blur());}
a{color:#000;text-decoration:none;}
div:after,li:after{content:"";display:block;height:0;clear:both;} 
center {padding:25px 0;} 
.cl{ text-align:left}
.ce{ text-align:center;}
.png {display: block; float: left;background-image: expression(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "images/11.gif")}
.top{position:fixed;top:0;left:0; z-index:1200; background:url(../images/top.png);height: 120px;background-color: transparent;background-attachment: scroll;background-position: 50% 50%; width:100%; min-width:1200px; overflow:hidden;margin:0 auto; _position: absolute;_top:expression(documentElement.scrollTop);}
.heade{ width:1200px; margin:0 auto;}
.top span{ color:#FFF; float:left; margin:55px 10px; border-left:#FFF solid 1px; padding:0 10px;}
.nav{overflow:hidden;}
.nav ul{overflow:hidden; height:120px; margin:0 auto;}
.nav li{ float:left;text-align:center;line-height:120px; width:124px; font-size:16px;}
.nav li a{ display:block;color:#FFF;}
.nav li a:hover,.cur{background:url(../images/dfzq.jpg);}
.banner{position:relative;overflow:hidden;width:100%; min-width:1200px; border-bottom:#0F3 solid 2px;}
.slides{position:relative;z-index:1; overflow:hidden; margin:0 auto; width:100%;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; margin:0 auto;}
.flex-control-nav li{display:inline-block;width:50px;height:3px;margin:30px 8px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:50px;height:3px;overflow:hidden;background:#fff;cursor:pointer;}
.flex-control-nav .flex-active{background:#ff8400;}
.flex-direction-nav li a.flex-prev{left:30px;background:url(../images/prev_icon.gif) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:30px;background:url(../images/next_icon.gif) center center no-repeat;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%; margin-top:-20px;}
.flex-direction-nav li a{display:block;width:56px;height:86px;overflow:hidden;cursor:pointer;position:absolute;filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8; margin-top:-20px;}
.flex-direction-nav li a:hover{filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.about{ width:100%; min-width:1200px; overflow:hidden;}
.list{ width:1100px; margin:0 auto; overflow:hidden;}
.title{ width:100%; font-size:24px; color:#093; text-align:center; padding-top:20px;}
.title span{ display:block; text-align:center; font-size:30px; color:#CCC;}
.aimg{ float:left; border:#093 solid 3px; margin-top:20px;}
.anew{ float:right; width:770px; overflow:hidden; line-height:30px; margin:20px 0 0 30px;}
.bgline2{ text-align:center; width:100%;margin:0 auto; padding:50px 0 0 0; position:relative; background:url(../images/be.gif) bottom no-repeat;}
.bgline2 a{line-height:40px; color:#093; border:2px solid #093; padding:5px 40px; background:#FFF;}
.bgline2 a:hover{ color:#FFF; background:#093;}
.bgline1{ text-align:center; width:100%;margin:0 auto; padding:50px 0 0 0; position:relative; background:url(../images/be.gif) bottom no-repeat;}
.bgline1 a{line-height:40px;border:2px solid #093; padding:5px 40px; color:#FFF; background:#093;}
.bgline1 a:hover{background:#FFF; color:#093;  }
.pro{ background-image:url(../images/hdjh.jpg); width:100%; min-width:1200px;position: absolute;height: 628px;background-color: transparent; background-position: 50% 0%;background-repeat: no-repeat; overflow:hidden;position:relative; }
.co{color:#FFF;}
.frist{ margin-top:60px;}
.k1{width: 1100px;margin:0 auto;}
.picScroll-left{ width:100%; position:relative; padding-bottom:80px; }
.picScroll-left .hd{height:0px; background:#f4f4f4; padding:0 10px;  }
.picScroll-left .hd .prev,.picScroll-left .hd .next{position:absolute;top:85px;left:-60px;display:block;  width:31px; height:62px;overflow:hidden; cursor:pointer; background:url(../images/ico.gif) no-repeat -176px -319px;}
.picScroll-left .hd .next{ background-position:-216px -319px;left:auto;right: -60px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li {width: 240px;text-align: center;padding-right: 40px;}
.ind_03{position: relative;z-index: 3; margin-top:100px;}
.ind_03 .picScroll-left .bd ul li{margin-right: 20px; border:1px solid #0C0; border-radius:5px;padding: 9px 9px 0;}
.ind_03 span{font-size: 16px;color:#FFF;text-align: center;line-height:30px;height:30px;width:230px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:block;}
.news{ width:100%; min-width:1200px; margin:0 auto;position:relative; overflow:hidden;}
.left{ width:520px; overflow:hidden; float:left;}
.right{width:520px; overflow:hidden; float:right;}
.title1{ width:100%; font-size:20px; color:#093;}
.title1 span{ display:block;font-size:28px; color:#CCC;}
.time1{ border-bottom:#CCC dashed 1px; width:100%; line-height:30px; height:80px; padding-top:30px;}
.time{color:#999; float:left; text-align:center;font-size:18px; padding-right:10px;}
.time span{ font-size:26px; display:block}
.newsimg{border:1px solid #e4e4e4; float:left;}
.news_r{ float:right; line-height:30px;width:350px;}
.news_r a{ color:#093;width:100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; float:left; font-size:16px;}
.news_r p{ height:30px; line-height:30px; overflow:hidden;white-space:nowrap; width:100%;text-overflow:ellipsis; font-size:12px; margin:0 auto;}
.news_r1{ float:left; line-height:20px;width:770px;padding-left:10px;}
.news_r1 a{ color:#093;width:100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; float:left; font-size:16px;}
.news_r1 p{ height:30px; line-height:30px; overflow:hidden;white-space:nowrap; width:100%;text-overflow:ellipsis; font-size:12px; margin:0 auto;}
.news_r1 a span{ display:block; color:#CCC; font-size:12px;}
.newslist{ margin:0 auto; width:100%; overflow:hidden;}
.newslist li {  width:100%; overflow:hidden;  line-height:35px; border-bottom:#CCC dashed 1px; float:left; height:35px;}
.newslist li a { color:#333;background:url(../images/newsico.gif) 6px center no-repeat; padding-left:20px;}
.newslist li p{ color:#093; margin:0 auto;}
.newslist li a:hover{ color:#093;}
.newslist li span { float:right; color:#999; font-size:12px;}
.proct{ width:100%; min-width:1200px; overflow:hidden; margin:0 auto; position:relative; background:url(../images/g7ph.jpg); height:610px; left:0px;background-position: 50% 0%;}
.titlelist {width:100%;margin:0 auto;overflow:hidden; padding-top:20px;}
.titlelist ul{ margin:0 auto; padding:0; border-bootom:#060 dotted 2px;width:100%;}
.titlelist ul li {width:183px;text-align:center;background:#1c894d;float:left; line-height:45px; color:#34c475; margin:0 auto; padding:0;}
.titlelist ul li a{ color:#FFF;}
.titlelist ul li.on {background:#71d54c; color:#FFF; }
.row1{width:100%; border-top:#060 dotted 2px;}
.row1 ul{ margin:0 auto; padding:20px 0;}
.row1  ul li{float:left; border:#CCC 1px solid; margin:0 6px;_ margin:0 5px;}
 .row1 ul li a span{font-size: 16px; color:#093;text-align: center;line-height:30px;height:30px;width:180px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:block;}
.aboutcont {width:100%;margin:0 auto;overflow:hidden;}
.none{ display:none;}
.contact{ width:100%; min-width:1200px; overflow:hidden;}
.left1{ width:500px;float:left; margin-top:40px; text-align:center; border-right:#CCC dotted 1px;}
.left1 span{ display:block; font-size:28px; color:#F90; margin-top:15px;}
.left1 span img {vertical-align:middle;}
.right1{ width:500px;float:right;margin-top:40px;_margin-top:40px;}
.right1 .name{ color:#093;line-height:40px; font-size:26px; padding-bottom:15px;}
.right1 .p2{line-height:30px; margin:0 auto; _margin:20px 0 0 0;}
.right1 .p2 p{ margin:0 auto;_ margin:15px; auto;}
.right1 .p2 img{ vertical-align:middle; padding-right:10px;}
.footer{ width:100%; min-width:1200px; overflow:hidden; margin:0 auto; position:relative;margin-top:50px;}
.foot{width:100%;overflow:hidden; margin:0 auto; background:url(../images/foot.gif); height:5px;}
.footr{width:100%;overflow:hidden; margin:0 auto; background:url(../images/footer.png);}
.bottomnav{width:100%;height:15px; padding:28px 0;line-height:15px; border-bottom:1px solid #264729; text-align:center; font-size:12px;}
.bottomnav a{padding: 0 25px; border-left:1px solid ; color:#FFF;}
.bootTxt{ text-align:center;border-top:1px solid #1b3e05; line-height:30px;width:100%; padding-top:10px; padding-bottom:30px; margin:0 auto;overflow:hidden; font-size:12px; color:#FFF}
.bottomnav .no{ border:0;}
.bootTxt a{ color:#FFF;}
 .main{ width:100%; color:#FFF; text-align:left; margin-top:40px;}
  .main a{ padding:0 5px; color:#CCC;}
 .cbann{ width:100%; min-width:1200px; overflow:hidden; margin:0 auto;}
 .ht{ width:100%; min-width:1200px; overflow:hidden; margin:0 auto; padding-top:40px;}
 .fl_side{ width: 212px; padding-bottom: 10px; float: left;}
.fr_side{ overflow:hidden; width: 860px; float:right;} 
.crumbs_box{ width: auto; height: 50px; line-height: 50px; overflow: hidden; border:#690 dashed 1px; margin-bottom:30px;}
.crumbs_box h3{ float: left; margin:0 auto; background:#090; font-size: 18px;padding:0 20px; color:#FFF;}
.crumbs_box p{ float: right; color: #0C3;margin:0 auto; padding:0 20px;}
.crumbs_box p a{ color: #0C3;}
.crumbs_box p a:hover{ text-decoration: underline;}
.contit{ overflow:hidden; width:100%; line-height:30px; text-align:center; font-size:20px; margin-top:20px;}
.tim{ overflow:hidden; line-height:30px; text-align:center; color:#707070;}
.conpic{ overflow:hidden; width:100%; text-align:center; margin:20px 0px;}
.conpic img{ max-width:860px; overflow:hidden;}
.concomp img{ max-height:860px; overflow:hidden; text-align:center;}
.concomp{ line-height:30px;}
.TabTitle2{padding-bottom:20px;}
.TabTitle2 ul.expmenu{ margin:0 auto; border:#ccc solid 1px;}
.TabTitle2 ul.expmenu li{ }
/*一级导航*/
.TabTitle2 ul.expmenu li div.header:hover{background:#93d103;display:block;}
.TabTitle2 ul.expmenu li div.header { width: 100%; display: block;height: 40px;overflow: hidden;line-height:40px;border-bottom:#093 solid 1px; }
.TabTitle2 ul.expmenu li div.header a {color:#000;padding-left:10px; font-size:14px; text-decoration:none;}
.TabTitle2 ul.expmenu li div.header a:hover { color:#FFF;_color:#090;}
.TabTitle2 ul.expmenu li div.header .arrow {display: block;width: 28px;height: 30px;background: no-repeat center;float: right;overflow: hidden;cursor: pointer;}
/*三角按钮*/
.TabTitle2 ul.expmenu li div.header .arrow.up {background:url(../images/jia.gif) no-repeat; margin-top:14px;}
.TabTitle2 ul.expmenu li div.header .arrow.down {background:url(../images/jian.gif) no-repeat; margin-top:14px;}
/*二级导航*/
.he{ display:none;}
.TabTitle2 ul.expmenu li .menu {width:212px;height: auto;overflow: hidden;}
.TabTitle2 ul.expmenu li .menu li {display: block;height: 30px;overflow: hidden;line-height: 30px; border-bottom:#ccc 1px dashed;}
.TabTitle2 ul.expmenu li .menu li a { color:#000; text-decoration:none;font-size: 12px;padding-left:30px;display:block;}
.TabTitle2 ul.expmenu li .menu li a:hover { color:#000;}
.title3{ width:100%; line-height:30px;  text-align:center; height:70px; font-size:16px; padding-top:15px; background:#080; color:#FFF;font-family:"微软雅黑"}
.title3 span{ display:block; text-align:center; color:#000; font-size:26px; background:#FFF; font-family:"微软雅黑"}
.con{ line-height:30px; font-size:14px;padding-left:20px; border:#CCC solid 1px;}
.xgnews{width:100%;overflow:hidden; padding:0 0 40px 0; margin:0 auto;}
.xgnews ul li{	line-height:30px; height:30px;	border-bottom:1px dashed #ccc; width:370px;float:left; margin:0 20px;padding-left:10px;overflow:hidden;font-size:12px;_width:350px;}
.xgnews ul li a{ color:#666;}
.xgnews ul li a:hover{text-decoration:none;color:#093;}
.xgnews ul li span{	float:right;color:#666;}
.four{ width:100%; margin:0 auto;_padding:0 0 20px 0;}
.main_r_nav{ float:left; margin:20px 0;  line-height:25px;}
.returnlist{ margin-top:30px; float:right;color:#ee9c1b; }
.main_r_nav a{ color:#093;}
.xgnews{width:100%;overflow:hidden; padding:0 0 40px 0; margin:0 auto;}
.nle {width:100%;margin:0 auto; overflow:hidden;}
.nle li {float:left;margin: 20px 20px 0 20px; _width:236px;_margin: 20px 17px 0 17px; width:236px;}
.nle li a img{border:solid 2px #cccccc; padding:3px; }
.nle li a:hover img{border:solid 2px #093;}
.nle li span a:hover {color:#093;}
.nle li span{text-align:center;height:30px;white-space:nowrap; width:100%;text-overflow:ellipsis; overflow:hidden; display:block; padding-top:10px;}
.Page{width:700px; text-align:center;padding:30px 0px; margin:0 auto;_width:700px;_padding:30px 40px;}
.Page a{display:inline-block;width:65px;background:#ffffff;height:40px; vertical-align:middle; line-height:40px;border:1px solid #e5e5e5; margin-left:-1px; float:left;text-decoration:none;outline:none;}
.Page a:hover{ background:#093; color:#FFF;background-repeat:no-repeat; }
.Page span{display:inline-block;min-width:45px; padding:0 10px;background:#ffffff;height:40px; vertical-align:middle; line-height:40px; border:1px solid #e5e5e5; margin-left:-1px;float:left;}
.Page span.current{ background:#093; color:#FFF;_width:45px;}

